<form action="" method="">
	<label>Email</label>
	<input type="type" name="email" value="" />
	<label>Senha</label>
	<input type="type" name="senha" value="" />
	<button type="submit" class="btn btn-primary">Logar</button>
</form>