@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<table class="table table-hover table-striped">
    <tr>
        <th>Nome</th>
        <th>Id</th>
    </tr>
    <tr>
        <td>
            Fernando
        </td>
        <td>
            11
        </td>
    </tr>
    <tr>
        <td>
            Fernando
        </td>
        <td>
            11
        </td>
    </tr>
    <tr>
        <td>
            Fernando
        </td>
        <td>
            11
        </td>
    </tr>
</table>
